{
  "presets": ["stage-2", "react", "env"],
  "passPerPreset": true,
  "plugins" : [
    "syntax-flow",
    "transform-flow-strip-types",
    ["cmz-names", {
      "replace": [
        ["src_components", "AutoUI"],
        ["src_styles", "AutoUI"]
      ]
    }]
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
