{
  "presets": ["stage-2", "react", "es2015"],
  "passPerPreset": true,
  "plugins" : [
    "syntax-flow",
    "transform-flow-strip-types",
    ["cmz-names", {
      replace: [
        ["src_components", "AutoUI"],
        ["src_styles", "AutoUI"]
      ]
    }]
  ]
}
