{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins" : [
    "@babel/plugin-syntax-flow",
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties",
    ["cmz-names", {
      "replace": [
        ["src_components", "AutoUI"],
        ["src_styles", "AutoUI"]
      ]
    }]
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}